*{
    margin: 0;
    font-family: 'Fondamento', cursive;
    color:#004526;
}

.header {
    width: 100vw;
    height:30vh;
    display: flex;
    background-color:#4FFFB0;
    align-items:center;
}

.header h2 {
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
    color:#004526;
    
    font-size:60px
}

.body {
    width: 100vw;
    height: 65vh;
    background-color:#90EE90;
    
}

.body h3 {
    font-size:20px;
    padding-top: 15px;
    text-align: center;
    color:#004526;
    font-family: 'Fondamento', cursive;

}

.body form {
    padding-top: 75px;
    width:100vw;
}

.inputs {
    text-align: center;
    padding: 10px;
}
.inputs input {
    border-radius: 5px;
    border: 2px  solid #4FFFB0;
    text-align: center;
    background-color:#4FFFB0;
    font-size:20px;
    width:350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;


}

.footer {
    height:5vh;
    width:100vw;
    background-color:#4FFFB0;
    display: flex;
    align-items: center;
    position: fixed;
    bottom:0;
}
.footer h2 {
    width:100vw;
    text-align: center;
}